/* You can add global styles to this file, and also import other style files */

.bg-primary { /* nav bar */
  background-color: #ff4a59 !important;
} 
.text-primary {
color: #ff4a59 !important;
}

.text-light {
  color: white !important;
}

.btn-custom { /* learn more button */
  background-color: #114B5F;
  border: 2px solid transparent;
  color: white;
}
.btn-custom:hover { /* learn more button */
  background-color: white;
  border: 2px solid #114B5F;
  color: #114B5F;
}

/********** register button (primary) ***********/
.btn-primary { 
  background-color: #ff4a59 !important; 
  border: 2px solid transparent;
  color: white;
}
.btn-primary:hover { /* on hover */
  background-color: #e83a48 !important; 
  border: 2px solid #e83a48;
  color: white;
}
.btn-primary:active { /* on press */
  background-color: #c21d2a !important; 
  border: 2px solid #c21d2a !important;
  color: white;
}

/********** login button (primary outline) ***********/
.btn-outline-primary {
  background-color: #ff4a59;
  border: 1px solid white;
  color: white;
}
.btn-outline-primary:hover { /* on hover */
  background-color: white; 
  border-color: #ff4a59; 
  color: #ff4a59; 
}
.btn-outline-primary:active { /* on press */
  background-color: white !important; 
  border-color: white !important; 
  color: #ff4a59 !important; 
}

/********** register & login button 2 (success) ***********/
.btn-success { 
  background-color: #2D9F98 !important; 
  border: 2px solid transparent;
  color: white;
}
.btn-success:hover { /* on hover */
  background-color: #247F79 !important; 
  border: 2px solid #247F79;
  color: white;
}
.btn-success:active { /* on press */
  background-color: #1A716C !important; 
  border: 2px solid #7a7a7a !important;
  color: white;
}

.btn-success:disabled { /* on press */
  background-color: #ababab !important; 
  border: 2px solid #ababab !important;
  color: white;
}

/********** default button (cancel) ***********/
.btn-default { 
  background-color: #ffffff !important; 
  border: 2px solid transparent !important;
  color: #114B5F;
}


.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #E95420;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.gallery {
  height: 600px;
}