.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2x solid white !important;
    display: inline;
    border-radius: 50%; /* This makes the image round */
}